.main{
    background-color: #E5E5E5;
    cursor: pointer;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: start;
    font-family: "Proxima Nova" sans-serif;
    font-weight: bold;
    .container{
        width: 900px;
        margin:0 auto;
        display: flex;
        align-items: center;

        .littlerow{
            width: 22px;
            height: 0px;
            border: 1px solid #222B3A;
            margin-right: 20px;
            background-color: #222B3A;
        }

        .text{
            margin-right: 20px;
            font-size: 32px;
        }

        .line{
            width: 500px;
            height: 0px;
            margin-right: 20px;
            border: 2px solid #bdbdbd;
            background-color: #bdbdbd;
        }
    }
}
